/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
/**
-----------------------------------------------------------------------------------------
| TAB |  Q  |  W  |  E  |  R  |  T  | * |  Y  |  U   |  I  |  O  |  P  | BKSP|
| CTRL|  A  |  S  |  D  |  F  |  G  | * |  H  |  J   |  K  |  L  |  ;: |  '" |
| SHFT|  Z  |  X  |  C  |  V  |  B  | * |  N  |  M   |  ,  |  .  |  /  | ESC |
                   | ALT | LWR | ENT | * | SPC | RSE  | GUI |
*/
                        bindings = <
   &kp TAB   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
   &kp LCTRL &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
   &kp LSHFT &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp ESC
                  &kp LALT &mo 1 &kp RET     &kp SPACE &mo 2 &kp LGUI
                        >;
                };

                lower_layer {
/**
-----------------------------------------------------------------------------------------
| TAB  | BT1 | BT2 | BT3 | BT4 | BT5 | * |  !  |  7  |  8  |  9  |  +  |  /  |
| CTRL |     | MUTE| VOLD| VOLU| LOCK| * |  .  |  4  |  5  |  6  |  -  |  =  |
| SHFT |     | PREV| PLAY| NEXT| CLBT| * |  ,  |  1  |  2  |  3  |  *  | ESC |
                   | ALT |     | ENT | * | SPC |     |  0  |
*/
                        bindings = <
   &kp TAB    &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4     &kp EXCL  &kp N7  &kp N8  &kp N9  &kp PLUS  &kp EQUAL
   &kp LCTRL  &trans       &kp C_MUTE   &kp C_VOL_DN &kp C_VOL_UP &kp C_AL_LOCK    &kp COMMA &kp N4  &kp N5  &kp N6  &kp MINUS &kp SLASH
   &kp LSHFT  &trans       &kp C_PREV   &kp C_PP     &kp C_NEXT   &bt BT_CLR       &kp DOT   &kp N1  &kp N2  &kp N3  &kp STAR  &kp ESC
                          	            &kp LALT     &trans       &kp RET          &kp SPACE &trans  &kp N0
                        >;
                };

                raise_layer {
/**
-----------------------------------------------------------------------------------------
|  TAB |  `  |  ^  |  [  |  ]  |  _  | * |  ~  |BKSP |  U  | DEL |     | BKSP |
| CTRL |  @  |  &  |  (  |  )  |  =  | * |  ?  |  L  |  D  |  R  |     |      |
| SHFT |  $  |  |  |  {  |  }  |  %  | * |  #  |  <  |  >  |  \  |     | ESC  |
                   | ALT |     | ENT | * | SPC |     | GUI |
*/
                        bindings = <
   &kp  TAB  &kp GRAVE &kp CARET &kp LBKT  &kp RBKT  &kp UNDER      &kp TILDE &kp BSPC &kp UP   &kp DEL   &trans &kp BSPC
   &kp LCTRL &kp AT    &kp AMPS  &kp LPAR  &kp RPAR  &kp EQUAL      &kp QMARK &kp LEFT &kp DOWN &kp RIGHT &trans &trans
   &kp LSHFT &kp DLLR  &kp PIPE  &kp LBRC  &kp LBRC  &kp PRCNT      &kp POUND &kp LT   &kp GT   &kp BSLH  &trans &kp ESC
                    	         &kp LALT  &trans    &kp RET        &kp SPACE &trans   &kp LGUI
                        >;
                };
        };
};
